[package]
name = "chrome-sys"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
js-sys.workspace = true
wasm-bindgen.workspace = true
